.addPageContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.button-container{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.cancel-button{
    width: 110px;
    height: 40px;
    padding: 10px;
    border: 1px solid #034EA2;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    color:#034EA2;
}
.add-button{
     width: 110px;
    height: 40px;
    padding: 10px;
    border: 1px solid #034EA2;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    background-color: #034EA2;
    color: white;
}

.Pending-circle, .inprogess-circle, .Completed-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.Pending-circle { background-color: gray; }
.inprogess-circle { background-color: orange; }
.Completed-circle { background-color: green; }
